h1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: lightgray;
  text-align: center;
}

a:visited {
  color: green;
}

.imgFirst img {
  float: left;
  width: 25%;
  padding: 10px;
  margin: 10px;
  border-style: dashed;
  box-sizing: border-box;
}

.imgSecond img {
  float: right;
  width: 25%;
  padding: 10px;
  margin: 10px;
  border-style: solid;
  box-sizing: border-box;
}

.imgThird img {
  float: left;
  width: 25%;
  padding: 10px;
  margin: 10px;
  border-style: double;
  box-sizing: border-box;
}

.first li{
  background-color: lightgreen;
  font: large;
  padding: 2px;
}

.first li a:hover {
  background-color: red;
  padding: 2px;
}

.first p {
  background-color: lightgreen;
  font: large;
  padding: 5px;
}

.first p a {
  color: red;
}

.second p {
  background-color: lightblue;
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
}

.third p {
  background-color: lightgoldenrodyellow;
  font-size: small;
  padding: 5px;
}